<% provide(:title, 'About') %>
<h1>Techniques Used</h1>
<section>
	<p>Backend</p>
</section>
<section>
	<p>Frontend</p>
</section>
<section>
	<p>Testing</p>
</section>
<p>Welcome to LOL.ly and thank you for exploring my site.</p>
