<% provide(:title, 'About') %>
<h1>Techniques Used</h1>
<article>
	<h4>Frontend</h4>
	<ul>
		<li>HTML5, Sass</li>
		<li>ARIA landmark roles</li>
		<li>jQuery</li>
		<li>Coffeescript</li>
		<li>Ajax</li>
		<li>Modernizr</li>
	</ul>
</article>
<article>
	<h4>Backend</h4>
	<ul>
		<li>Rails 4</li>
	</ul>
</article>
<article>
	<h4>Testing</h4>
	<ul>
		<li>RSpec</li>
	</ul>
</article>
<p>Welcome to LOL.ly and thank you for exploring my site.</p>