<h1>Hello from Rails 4.0</h1>

<ul>
	<% for url in @urls %>
		<li>
			<%= "#{url.original_url} | #{url.converted_url} | More to come later..." %>
      <%= link_to 'Delete', url, method: :delete, data: { confirm: 'Are you sure?' } %>
		</li>
	<% end %>
</ul>

<%= link_to "New Url", new_url_path %>