/* mixins and variables */

$light-green: rgb(227, 231, 222);
$med-green: rgb(187, 203, 196);
$dark-green: rgb(49, 68, 75);

@mixin navigation-font {
	font-family: 'Sofia Pro', 'Arial', 'Helvetica', sans-serif;
	font-size: 10.5px;
	letter-spacing: 2.6px;
	text-transform: uppercase;
	font-weight: bold
}
@mixin body-font {
	font-family: 'Times New Roman', 'Times', serif;
	letter-spacing: 1.2px;
}
@mixin input-box {
	background: $light-green;
	padding: 5px;
	margin: 8px;
}
@mixin input-button {
	background: $dark-green;
	padding: 5px;
	margin: 8px;
}

/* base styles initialized at @media max-width 320px */

html, body {
	margin: 0;
	height: 100%;
	background-color: $med-green;
}

h1 {
	margin: 0;
	padding: 2.1097046%; /* 20px / 948px */
}

ol, ul {
	list-style: none;
	margin: 0; /* reset webkit default */
	padding: 0; /* reset webkit default */
}

/* typography */

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

/* css sticky footer implementation */
/* http://www.cssstickyfooter.com */

#container {
	min-height: 100%;
}

section[role="main"] {
	overflow: auto;
	padding: 22px 22px 80px 22px;
}

footer[role="contentinfo"] {
	position: relative;
	margin-top: -56px;
	clear: both;
}

/* navigation */

nav[role="navigation"] {
	background-color: $light-green;
	padding: 22px;
	clear: both;
	a {
		@include navigation-font;
		color: $dark-green;
		display: inline-block;
		vertical-align: middle;
		padding-bottom: 10px;
		&#nav_menu {
			float: right;
		}
		&#logo_top {
			border: 3.5px solid $dark-green;
			font-size: 1em;
			padding: 3px;
			text-decoration: none;
		}
	}
	ul li {
		border-top: 1px solid $med-green;
		padding-top: 10px;
	}
}

/* header: banner */

header[role="banner"] {
	background-color: $light-green;
	text-align: center;
	a {
		color: $dark-green;
		&:hover {
			text-decoration: none;
		}
	}
}

/* section: main */

section[role="main"] {
	@include body-font;
	background-color: $med-green;
	color: $dark-green;
	text-align: center;
	a {
		color: $dark-green;
	}
	input#url_original_url {
		@include input-box;
		width: 240px;
		vertical-align: middle;
	}
	input[type="submit"], button {
		@include input-button;
		@include navigation-font;
		color: $light-green;
		border: 0;
		width: 115px;
		padding: 9.5px;
		vertical-align: middle;
	}
	div.actions input {
		@extend input[type="submit"];
		width: 239px;
	}
	fieldset {
		border: 0;
		input {
			@include input-box;
			width: 225px;
		}
		input[type="checkbox"] {
			width: 15px;
		}
	}
	ul#url_list li {
		padding: 10px 0;
		&:hover {
			background-color: lighten($med-green, 5%);
		}
	}
}

/* footer: contentinfo */

footer[role="contentinfo"] {
	a {
		width: 100%;
		border-bottom: 1px solid $med-green;
		&:last-child {
			border: 0;
			padding-top: 10px;
			padding-bottom: 0;
		}
	}
}

/* start media queries */
/* 860px/16px = 53.75em; check with header.js */
@media all and (min-width: 53.75em) {
	nav[role="navigation"] {
		height: 11px; /* used for css sticky footer */
		a {
			padding: 0;
			&#nav_menu {
				display: none;
			}
		}
		.pull_left {
			float: left;
		}
		.pull_right {
			float: right;
			margin-left: 32px;
		}
		ul li {
			border: 0;
			padding-top: 0;
		}
	}
	footer[role="contentinfo"] {
		a, a:last-child {
			width: auto;
			border: 0;
			padding: 0;
		}
	}
}