/* mixins and variables */

$light-green: rgb(227, 231, 222);
$med-green: rgb(187, 203, 196);
$dark-green: rgb(49, 68, 75);

@mixin navigation-font {
	font-family: 'Sofia Pro', 'Arial', 'Helvetica', sans-serif;
	font-size: 10.5px;
	letter-spacing: 2.6px;
	text-transform: uppercase;
	font-weight: bold;
}
@mixin body-font {
	font-family: 'Times New Roman', 'Times', serif;
	letter-spacing: 1.2px;
	line-height: 1.4;
}
@mixin input-box {
	background: $light-green;
	padding: 5px;
	margin: 8px;
}
@mixin input-button {
	background: $dark-green;
	padding: 5px;
	margin: 8px;
}

/* base styles target all smartphones in portrait and landscape */

html, body {
	margin: 0;
	height: 100%;
	background-color: $med-green;
}

h1 {
	margin: 0;
	padding: 2.1097046%; /* 20px / 948px */
	font-weight: normal;
}

ol, ul {
	list-style: none;
	margin: 0; /* reset webkit default */
	padding: 0; /* reset webkit default */
}

/* typography */

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

/* css sticky footer implementation */
/* http://www.cssstickyfooter.com */

#container {
	min-height: 100%;
}

section[role="main"] {
	overflow: auto;
	padding: 22px 22px 80px 22px;
}

footer[role="contentinfo"] {
	position: relative;
	margin-top: -56px;
	clear: both;
}

/* navigation */

nav[role="navigation"] {
	background-color: $light-green;
	padding: 22px;
	clear: both;
	a, li {
		@include navigation-font;
		color: $dark-green;
	}
	a {
		display: inline-block;
	}
	ul {
		padding-top: 10px;
		li {
			padding: 10px 0;
			border-top: 1px solid $med-green;
		}
	}
}

/* header: navigation */

#container nav[role="navigation"] {
	a {
		&#nav_menu {
			float: right;
		}
		&#logo_top {
			border: 3.5px solid $dark-green;
			font-size: 1em;
			padding: 3px;
			text-decoration: none;
		}
	}
}

/* header: banner */

header[role="banner"] {
	background-color: $light-green;
	text-align: center;
	a {
		letter-spacing: 7px;
		color: $dark-green;
		&:hover { text-decoration: none; }
	}
	h1 { font-weight: bold; }
}

/* section: main */

section[role="main"] {
	@include body-font;
	background-color: $med-green;
	color: $dark-green;
	text-align: center;

	a { color: $dark-green;	}
	.url_title { font-size: 1.2em; }
	.original_url { font-size: 0.8em;	}
	.converted_url { font-weight: bold;	}
	.page_view, .delete_url { color: darken($med-green, 25%);	}
	.definitions { font-style: italic; }
	.home { @include navigation-font; }
	button.translate {
		display: none;
		margin-left: auto;
		margin-right: auto;
	}

	input#url_original_url {
		@include input-box;
		width: 240px;
		vertical-align: middle;
	}
	input[type="submit"], button {
		@include input-button;
		@include navigation-font;
		color: $light-green;
		border: 0;
		width: 115px;
		padding: 9.5px;
		vertical-align: middle;
	}
	div.actions input {
		@extend input[type="submit"];
		width: 239px;
	}
	fieldset {
		border: 0;
		input {
			@include input-box;
			width: 225px;
		}
		input[type="checkbox"] {
			width: 15px;
		}
	}
	ul#url_list li {
		line-height: normal;
		padding: 10px 0;
		&:hover {
			background-color: lighten($med-green, 5%);
		}
	}
	div.notifications {
		background-color: lighten($med-green, 5%);
		width: 100%;
		li { padding: 4px; }
		p, div { padding: 10px; }
	}

	/* section: main >> about page */
	article {
		text-align: left;
		padding: 0 20px;
		h2 {
			@include navigation-font;
			color: $dark-green;
			padding: 10px 0 30px 10px;
			margin: 10px 0;
			border-top: 1px solid $light-green;
		}
		p {
			padding: 0 10px 16px 10px;
			margin: 0;
		}
	}
	a#back_to_top {
		display: none;
		text-indent: -9999px;
		height: 20px;
		width: 20px;
		position: fixed;
		top: 50px;
		left: 12px;
		background: {
			image: image-url('top.png');
			repeat: no-repeat;
		}
	}

	/* section: main >> users index */
	table {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		th {
			padding: 10px 0;
			.current {
				padding-right: 12px;
				background-repeat: no-repeat;
				background-position: right center;
			}
			.asc { background-image: image-url('up_arrow.png'); }
			.desc { background-image: image-url('down_arrow.png'); }
		}
		td { padding: 2px 20px; }
		tr:hover { background-color: lighten($med-green, 5%); }
	}
}

/* footer: contentinfo */

footer[role="contentinfo"] {
	nav[role="navigation"] a {
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid $med-green;
		&:last-child {
			border: 0;
			padding-top: 10px;
			padding-bottom: 0;
		}
	}
}

/* 684px/16px = 42.75em; update with header.js */
@media all and (min-width: 42.75em) {
	nav[role="navigation"] {
		height: 11px; /* used for css sticky footer */
		a {
			padding: 0;
			&#nav_menu {
				display: none;
			}
		}
		.pull_left {
			float: left;
		}
		.pull_right {
			float: right;
			margin-left: 32px;
		}
		ul li {
			border: 0;
			padding-top: 0;
		}
	}

	footer[role="contentinfo"] nav[role="navigation"] {
		a, a:last-child {
			width: auto;
			border: 0;
			padding: 0;
		}
	}

	/* section: main >> about page */
	section[role="main"] article {
		width: 44%; /* ~ 290px/640px */
		padding: 0 1.5625%; /* 10px/640px */
		display: inline-block;
		vertical-align: top;
	}
}

/* 974px/16px = 60.875em */
@media all and (min-width: 60.875em) {
	/* section: main >> about page */
	section[role="main"] article {
		width: 30%; /* ~ 290px/930px */
		padding: 0 1.0752688%; /* 10px/930px */
		&#about_me {
			width: 100%;
		}
	}
}