<div id="bnr_ring">
	<div id="ring_rear">
		<div id="ring_upper">
			<h2 id="ring_acr" class="showing">BHAG</h2>
			<p id="ring_def" class="hidden">Big Hairy Audacious Goal</p>
		</div>
		<p id="front_msg" class="showing">
			<small>Do you know it?<br>
			(Click for answer)</small>
		</p>
		<p id="rear_msg" class="hidden">
			<small>(New acronym will load<br>
			in 10 seconds.)</small>
		</p>
	</div>
	<div id="ring_front">
		<h1>LOL</h1>
	</div>
</div>
