<nav role="navigation">
	<%= link_to "Crafted by Eric Xu - Fork It", root_path, class: "pull_left" %>
	<%= link_to "Project Description", about_path, class: "pull_right" %>
	<%#= link_to "Full List of Acronyms", dictionary_path, class: "pull_right" %>
</nav>