<nav role="navigation">
	<%= link_to "Crafted by Eric Xu - Fork It", "https://github.com/Eric-Xu/tiny_url_playground", class: "pull_left" %>
	<%= link_to "What's under the hood?", about_path, class: "pull_right" %>
</nav>