<nav role="navigation">
	<%= link_to_unless_current "Logo :D", root_path %> |
	<%= link_to_unless_current "Project Description", about_path %>
	<%= link_to_unless_current "Full List of Acronyms", dictionary_path %>
</nav>